.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #333333;
}

.cartBox {
  height: 100vh;
  overflow-y: scroll;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  background: white;
  z-index: 60;
  top: 0;
  min-height: 72px;
  box-shadow: 0 3px 30px rgb(0 0 0 / 8%);
}

.chevLeft {
  cursor: pointer;
  font-size:x-large;
  margin-right: 20px;
  color: red;
  transition: opacity 450ms;
  will-change: opacity;
}

.chevLeft:hover {
  transition: opacity 125ms;
  opacity: .5;
  will-change: opacity;
}

.cartQuan {
  color: black;
}

.checkoutBox {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 20px;
  background-color:white;
  box-shadow: rgb(0 0 0 / 8%) 0px -3px 30px;
}

.disclaimer {
  margin-block-start: 0;
  margin-block-end: 20px;
  font-size: 13px;
}

.checkoutButton {
  align-items: center;
  background: rgb(194, 194, 194);
  min-width: 200px;
  border-style: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: .17em;
  height: var(--size-input);
  padding: 8px;
  cursor: pointer;
  transition: all .8s cubic-bezier(.19,1,.22,1);
  font-size: 16px;
}

.checkoutButton:hover {
  color: #333333;
  background-color: transparent;
  transition: all .8s cubic-bezier(.19,1,.22,1);
  border: 1px #333333 solid;
}

.collapseColumn {
  display: none;
}

.emptyStateContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.emptyStateHeading {
  color: var(--text-color);
  font-size: 22px;
  font-weight: var(--bold);
  margin-bottom: 0;
}

.emptyStateLink {
  display: inline-block;
  color: var(--primary);
  margin-top: 0;
  font-size: 22;
}

@media screen and (max-width: 400px) {
  .wrap {
    width: 100%;
  }
}


