.title {
  font-size: 16px;
  font-weight: var(--semibold);
  margin: 0;
}

.lineWrap {
  box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgb(122, 122, 122);
    padding: 20px 0;
    overflow: hidden;
}

.variant {
  font-size: 14px;
  text-transform: capitalize;
  padding-bottom: var(--space-sm);
}

.remove button {
  font-family: inherit;
  font-size: 16px;
  letter-spacing:.17em;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.remove button:hover {
  opacity: .5;
}

.totals {
  text-align: right;
}

.priceColumn,
.totals {
  display: none;
}

@media (min-width: 640px) {
  .priceColumn,
  .totals {
    display: block;
  }
}
